body {
    margin: 0;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.grid {
    border: 2px solid grey;
    flex: 1 0 60%;
    max-width: 508px;
    height: 504px;
    display: flex;
    flex-wrap: wrap;
}

.vertical-grid {
    flex: 1 0 auto;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.grid-cell {
    min-width: 100%;
    flex: 1 0 auto;
}

.grid-cell-border {
    border: 1px groove darkgrey;
}