body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Bytesized", sans-serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px;
}

button {
    font-family: "Tektur", sans-serif;
}

@keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  
@keyframes red-shades {
    from {
        background-color: #f0f0f0;
    }
    25% {
        background-color: #f58c8f;
    }
    50% {
        background-color: #f7797d;
    }
    75% {
        background-color: #f58c8f;
    }
    100% {
        background-color: #f0f0f0;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.utilities {
    display: flex;
    flex: 0 0 20%;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-evenly;
    justify-content: center;
}

.utilities button {
    height: 100px;
}

.color-selector:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.color-selector:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.color-selector {
    flex: 1 1 70%;
    font-size: 2.5em;
    border-radius: 15px;
}

.color-picker:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.color-picker:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
}

.color-picker:hover::-webkit-color-swatch {
    box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 4px 0px;
}

.color-picker {
    transition: 0.2s;
    transform: scale(1);
    flex: 0 1 auto;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.random-colors:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    animation: rainbow 6s linear 0s infinite;
}

.random-colors:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.random-colors {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.eraser:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.eraser:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.eraser {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.clear:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.clear:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.clear {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.clear-confirm {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
    animation: red-shades 2.5s linear 0s infinite;
}

.clear-confirm:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.toggle-grid:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.toggle-grid:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.toggle-grid {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.grid-info-wrapper {
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 70%;
}

.grid-size-range {
    background-color: transparent;
    accent-color: black;
    transform: scale(2);
}

.grid-size-selector:hover {
    background-color: #edeff2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.grid-size-selector:active {
    transition: 0.1s;
    background-color: #e6e6eb;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 9px 0px;
}

.grid-size-selector {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.grid {
    border: 5px solid grey;
    flex: 1 0 60%;
    max-width: 650px;
    height: 650px;
    display: flex;
}

.vertical-grid {
    flex: 1 0 auto;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.grid-cell {
    min-width: 100%;
    flex: 1 0 auto;
    background-color: #ffffff;
}

.grid-cell-border {
    border: 1px groove #e8e8eb;
}