body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Bytesized", sans-serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.utilities {
    display: flex;
    flex: 0 0 20%;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-evenly;
    justify-content: center;
}

.utilities button {
    height: 100px;
}

button :hover

.color-selector {
    flex: 1 1 auto;
    font-size: 2.5em;
    border-radius: 15px;
}

.color-picker {
    flex: 0 1 auto;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.random-colors {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.eraser {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.clear {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.toggle-grid {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.grid-info-wrapper {
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 70%;
}

.grid-size-range {
    accent-color: red;
    transform: scale(2);
}

.grid-size-selector {
    flex: 1 0 40%;
    font-size: 1.4em;
    border-radius: 15px;
}

.grid {
    border: 5px solid grey;
    flex: 1 0 60%;
    max-width: 650px;
    height: 650px;
    display: flex;
}

.vertical-grid {
    flex: 1 0 auto;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.grid-cell {
    min-width: 100%;
    flex: 1 0 auto;
    background-color: #ffffff;
}

.grid-cell-border {
    border: 1px groove darkgrey;
}

.grid-cell-color :hover {
    background-color: #000000;
}